@using AspNet.Mvc.Grid
@using AspNet.Mvc.Grid.Example.Models
@model IEnumerable<Person>

@{
    ViewBag.Title = "Home Page";
}

<h1>Grid example</h1>

@Html.Grid(Model).Columns(cb =>
{
    cb.For(p => @Html.ActionLink(p.Name, "Person", "Home", new {p.Id}, null)).Named("Name with link");
    cb.For(p => p.NameWithAttribute);
    cb.For(p => p.DateOfBirth);
    cb.For(p => p.DateWithAttribute);
    cb.For(p => p.Address.Line1);
    
}).Attributes(@class => "table table-striped table-hover table-condensed").HeaderRowAttributes(new Dictionary<string, object> { { "class", "active" } })


<h2>Empty grid</h2>

@Html.Grid(new Person[] { }).Empty("No people")